.good {
  width: 100px;
  height: 100px;
  background-color: red;
}

.stagger {
  width: 100px;
  height: 100px;
  background-color: blue;
  opacity: 0;
}

button {
  padding: 5px 15px;
}

.timeline {
  width: 100px;
  height: 100px;
}

.timeline.item1 {
  background-color: red;
}

.timeline.item2 {
  background-color: blue;
}

.timeline.item3 {
  background-color: green;
}
