.good {
  width: 100px;
  height: 100px;
  background-color: red;
}

.stagger {
  width: 100px;
  height: 100px;
  background-color: blue;
  opacity: 0;
}

button {
  padding: 5px 15px;
}

.timeline1 {
  width: 100px;
  height: 100px;
  background-color: red;
}

.timeline2 {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.timeline3 {
  width: 100px;
  height: 100px;
  background-color: green;
}
